<div class="container">
  <div class="row">
    <div class="col-4">
      <%= profile_picture(@account, 200) %>
    </div>

    <div class="col-8 text-left">
    <div class="row">
      <div class="col-6">
        <%= link_to 'Edit Profile', edit_account_registration_path, class: 'btn btn-muted btn-custom float-right' if actual_user?(@account.id) %>
        <h1><%= @account.fullname%></h1>
      </div>
    </div>
      
      
      <div class="row profile-stats">
        <div class="col-4">
          <%= pluralize(@account.posts.count, 'post') %>
        </div>
        <div class="col-4">
          <%= pluralize(@account.total_followers, 'follower') %>
        </div>
        <div class="col-4">
          <%= pluralize(@account.total_following, 'following') %>
        </div>
      </div>

      <p><%= @account.fullname %></p>
      <%= simple_format @account.description %>
      <p><%= link_to @account.website if @account.website.present? %></p>
    </div>
  </div>

  <div class="row profile-posts">
    <% @posts.each do |post| %>
      <div class="col-4">
        <div class="insta-post">
          <%= image_tag post.image.url, class: 'img img-fluid' %>
        </div>
      </div>
    <% end %>
  </div>
</div>