<div class="container">
  <div class="row">
    <div class="col-4">
      <%= image_tag @account.image.url, width: '200px', class: 'profile-pic' %>
    </div>

    <div class="col-8 text-left">
      <h1><%= @account.fullname%></h1>
      <%= link_to 'Edit Profile', edit_account_registration_path, class: 'btn btn-secondary' %>
      <div class="profile-stats"><%= pluralize(@account.posts.count, 'post') %></div>
      <div class="profile-stats"><%= pluralize(@account.total_followers, 'follower') %></div>
      <div class="profile-stats"><%= pluralize(@account.total_following, 'following') %></div>

      <p><%= @account.fullname %></p>
      <%= simple_format @account.description %>
      <p><%= link_to @account.website if @account.website.present? %></p>
    </div>
  </div>

  <div class="row profile-posts">
    <% @posts.each do |post| %>
      <div class="col-4">
        <div class="insta-post">
          <%= image_tag post.image.url, class: 'img img-fluid' %>
        </div>
      </div>
    <% end %>
  </div>
</div>